<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue Demo</title>
</head>
<body>
<div id="app">
  {{ message }}
</div>

<div id="app-2">
  <span v-bind:title="message">
    鼠标悬停几秒钟查看此处动态绑定的提示信息！
  </span>
</div>

<div id="app-3">
  <p v-if="seen">现在你看到我了</p>
</div>

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">逆转消息</button>
</div>

<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>

<div id="app-7">
  <ol>
    <!-- 现在我们为每个todo-item提供待办项对象    -->
    <!-- 待办项对象是变量，即其内容可以是动态的 -->
    <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
  </ol>
</div>

<script src="vue.js"></script>
<script type="text/javascript">
	var app = new Vue({
	  el: '#app',
	  data: {
	    message: 'Hello Vue!'
	  }
	})

	var app2 = new Vue({
	  el: '#app-2',
	  data: {
	    message: '页面加载于 ' + new Date()
	  }	
	})

	var app3 = new Vue({
	  el: '#app-3',
	  data: {
	    seen: true
	  }
	})

	var app4 = new Vue({
	  el: '#app-4',
	  data: {
	    todos: [
	      { text: '学习 JavaScript' },
	      { text: '学习 Vue' },
	      { text: '整个牛项目' }
	    ]
	  }
	})

	var app5 = new Vue({
	  el: '#app-5',
	  data: {
	    message: 'Hello Vue.js!'
	  },
	  methods: {
	    reverseMessage: function () {
	      this.message = this.message.split('').reverse().join('')
	    }
	  }
	})

	var app6 = new Vue({
	  el: '#app-6',
	  data: {
	    message: 'Hello Vue!'
	  }
	})

	Vue.component('todo-item', {
	  props: ['todo'],
	  template: '<li>{{ todo.text }}</li>'
	})
	var app7 = new Vue({
	  el: '#app-7',
	  data: {
	    groceryList: [
	      { text: '蔬菜' },
	      { text: '奶酪' },
	      { text: '随便其他什么人吃的东西' }
	    ]
	  }
	})

	//每个 Vue 实例都会代理其 data 对象里所有的属性：
	var data={a:1}
	var vm=new Vue({
		el:'#example',
		data:data
	})
	vm.a===data.a //-> true
	//设置属性也会影响到原始数据，反之亦然
	vm.a=2
	data.a //-> 2
	//Vue实例暴露了一些有用的实例属性与方法，这些属性与方法都以$开头
	vm.$data===data //->true
	vm.$el===document.getElementById('example') //->true
	vm.$watch('a',function(newVal,oldVal){
		//这个回调将在`vm.a`改变后调用
	})
	// ? 钩子 ？
	var vm2 =new Vue({
		data:{
			a:1
		},
		created:function(){
			console.log('a is : '+this.a)
		}
	})
</script>
</body>
</html>