<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.b3log.zephyr.dao.MessageDAO">
    <resultMap id="welcomeListModel" type="org.b3log.zephyr.model.welcome.WelcomeListModel">
        <result column="tag_name" property="tag"/>
        <result column="content" property="message"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <insert id="saveMessage" parameterType="org.b3log.zephyr.element.entity.MessageLib">
        INSERT INTO messagelib VALUES(
          #{message_id},
          #{tag_id},
          #{content},
          #{creator},
          #{update_time},
          #{create_time}
        )
    </insert>
    <select id="countTagsById">
        SELECT COUNT(1) FROM messagelib WHERE tag_id=#{tid} AND creator=#{uid}
    </select>
</mapper>
