<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.b3log.zephyr.dao.TagDAO">
    <resultMap id="TagLib" type="org.b3log.zephyr.element.entity.TagLib">
        <result column="tag_id" property="tag_id"/>
        <result column="tag_name" property="tag_name"/>
        <result column="tag_logo" property="tag_logo"/>
        <result column="description" property="description"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Columns">
        message_id, tag_id, content, creator, update_time, create_time
    </sql>

    <select id="findByTagName" resultMap="TagLib">
        SELECT * FROM taglib WHERE tag_name=#{tagName}
    </select>

    <insert id="saveTag" parameterType="org.b3log.zephyr.element.entity.TagLib">
        INSERT INTO
            taglib VALUES
            (
                #{tag_id},
                #{tag_name},
                #{tag_logo},
                #{description},
                #{creator},
                #{create_time}
            )
    </insert>
</mapper>
